# Extract Sage to Management conversion table
Read the old conversion matrix and extract a list.
Aim to make this a readable output format which is proably a list of lists or dictionary of lists.  The Key will be the output nominal code and the value will be a list of the input nominal codes.  It should perhaps be put into a seperate class so that the test code can be associated with it.

In [1]:
import math
import pandas as pd
import sqlite3

from h3_yearend import p

fn = r'Z:\Accounts\MGT-ACCTS\2016-03\2016-03 ManagementAccounts.xlsm'
xl = pd.ExcelFile(fn)
print(xl.sheet_names[-2:])

['RPT MGT BS', 'BS Fut']

### Read P&L data

In [14]:
df = pd.read_excel(xl, 'TX-MIS', skiprows=3, parse_cols='D:BM', index_col=0).transpose()
#df.index.names = ['Code']
df.head()

,20,21,30,31,40,41,1001,1004,1100,1101,...,8420,8421,8424,8426,8430,8433,8435,8440,9998,9999
10,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1001,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1100,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
df.index.values

array([  10, 1001, 1100, 1102, 1103, 1115, 1200, 1202, 1203, 1204, 2100,
       2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2120, 2125, 2126,
       4000, 4009, 4905, 5000, 5001, 6100, 6200, 6201, 7000, 7006, 7020,
       7100, 7102, 7103, 7105, 7200, 7202, 7204, 7206, 7906, 8100, 8200,
       8201, 8204, 8300, 8310, 8400, 8402, 8405, 8408, 8410, 8414, 8420,
       8424, 8426, 8430, 8433, 8435, 8440], dtype=int64)

In [16]:
df.columns.values

array([  20,   21,   30,   31,   40,   41, 1001, 1004, 1100, 1101, 1102,
       1104, 1110, 1115, 1117, 1120, 1200, 1205, 1207, 1210, 1212, 1220,
       1230, 1232, 1240, 1250, 1252, 1254, 1256, 1260, 1262, 1263, 2100,
       2101, 2102, 2105, 2108, 2109, 2200, 2201, 2202, 2204, 2210, 2211,
       2220, 2320, 3000, 3200, 3210, 4000, 4009, 4905, 5000, 5001, 6100,
       6200, 6201, 7000, 7006, 7020, 7100, 7102, 7103, 7105, 7200, 7202,
       7204, 7206, 7503, 7604, 7901, 7906, 8100, 8102, 8200, 8201, 8204,
       8300, 8301, 8310, 8400, 8402, 8405, 8408, 8410, 8414, 8420, 8421,
       8424, 8426, 8430, 8433, 8435, 8440, 9998, 9999], dtype=int64)

In [56]:
def collect(row):
    management_nc = row[0]
    this_series =  row[1]
    result = ''
    for k, v in this_series.iteritems():
        if v > 0:
            result += '{}, '.format(k)
    print('     {}: ({}),'.format(management_nc, result))

print('   {')
for row in df.iterrows():
    collect(row)
print('    }')

   {
     10: (20, 21, 30, 31, 40, 41, ),
     1001: (1001, 1004, 1254, 1256, 7906, ),
     1100: (1100, 1101, ),
     1102: (1102, ),
     1103: (1110, 1120, ),
     1115: (1104, 1115, 1117, ),
     1200: (1200, 1205, 1240, 1250, 1260, 1262, 1263, 9998, 9999, ),
     1202: (1207, 1210, 1212, 1252, ),
     1203: (1220, ),
     1204: (1230, 1232, ),
     2100: (2100, 2220, ),
     2103: (2101, ),
     2104: (2102, ),
     2105: (2105, ),
     2106: (2320, ),
     2107: (2210, 2211, ),
     2108: (2200, 2201, 2202, 2204, ),
     2109: (2109, ),
     2110: (2108, ),
     2120: (3000, ),
     2125: (3210, ),
     2126: (3200, ),
     4000: (4000, ),
     4009: (4009, ),
     4905: (4905, ),
     5000: (5000, ),
     5001: (5001, ),
     6100: (6100, ),
     6200: (6200, ),
     6201: (6201, ),
     7000: (7000, ),
     7006: (7006, ),
     7020: (7020, ),
     7100: (7100, ),
     7102: (7102, ),
     7103: (7103, ),
     7105: (7105, ),
     7200: (7200, ),
     7202: (7202, ),
     7204: (7204, ),
     7206: (7206, ),
     7906: (),
     8100: (8100, 8102, ),
     8200: (8200, ),
     8201: (7604, 8201, ),
     8204: (7901, 8204, ),
     8300: (8300, ),
     8310: (8310, ),
     8400: (8400, ),
     8402: (8402, ),
     8405: (8301, 8405, ),
     8408: (8408, ),
     8410: (8410, ),
     8414: (8414, ),
     8420: (8420, 8421, ),
     8424: (8424, ),
     8426: (8426, ),
     8430: (8430, ),
     8433: (8433, ),
     8435: (8435, ),
     8440: (7503, 8440, ),
    }

In [34]:
type(r[1])

pandas.core.series.Series

In [36]:
s = r[1]

In [39]:
s.iloc[0]

0

In [50]:
for k, v in s.iteritems():
    #print(type(e))
    if v > 0:
        print(k, v)

7503 1
8440 1

In [ ]:
aaa

## Test load
Not worth spending too much time on the loading function as will only be used once.
However it does help define the database and introduce the concept of trial balance.

In [3]:
class LoadDatabaseError(Exception):
    pass

class LoadDatabase():
    
    def __init__(self, dbname, df):
        self.conn = sqlite3.connect(dbname)
        self.cursor = self.conn.cursor()
        self.load_management_chart_of_accounts()
        self.cursor.execute('CREATE TABLE IF NOT EXISTS trial_balance (period text, code integer, balance real)')
        self.df=df
        
    def load_management_chart_of_accounts(self):
        """Assets - Liabilities - OwnersEquity = 0
        Asset - Liability - Equity - Income + Expense = 0
        """
        self.cursor.execute('CREATE TABLE IF NOT EXISTS chart_of_accounts (chart text, code integer, name text, category text)')
        coa_name = 'SLF-MA'
        if self.empty_coa(coa_name):
            coa= {'4000': 'Sales',
            '4009': 'Discounts Allowed',
            '4905': 'Carriage',
            '5000': 'Materials Cost',
            '5001': 'Material Cost Adjustment',
            '6100': 'Commissions',
            '6200': 'Sales Manager',
            '6201': 'Advertising',
            '7000': 'Factory Wages',
            '7006': 'Redundancy Costs',
            '7020': 'Delapidations Provision',
            '7100': 'Factory Gas & Elec',
            '7102': 'Packaging',
            '7103': 'Machine Repairs',
            '7105': 'Works Sundries',
            '7200': 'Factory Depreciation',
            '7202': 'Factory Insurance',
            '7204': 'Factory Rent & Rates',
            '7206': 'Factory Salaries',
            '7906': 'Exchange Rate Variance',
            '8100': 'Bad Debts',
            '8200': 'Audit Fees',
            '8201': 'Legal/Professional',
            '8204': 'Bank Charges/Interest',
            '8300': 'Admin Depreciation',
            '8310': 'Gain/Loss on Disposal of Assets',
            '8400': 'Admin Gas & Electricity',
            '8402': 'Admin Insurance',
            '8405': 'Motor Running',
            '8408': 'Postage',
            '8410': 'Admin Rent & Rates',
            '8414': 'Repairs/Maint/Bldgs',
            '8420': 'Admin Salaries',
            '8424': 'Stationary',
            '8426': 'Telephone',
            '8430': 'Computer/EDI/Internet',
            '8433': 'New Product Development',
            '8435': 'Admin Travel',
            '8440': 'Admin Sundries'}
            for k,v in coa.items():
                self.cursor.execute("INSERT INTO chart_of_accounts (chart, code, name) VALUES ('{}', {}, '{}')".format(coa_name, k, v))
            self.cursor.execute("UPDATE chart_of_accounts SET category='Income' WHERE code in (4000)")
            self.cursor.execute("UPDATE chart_of_accounts SET category='Expense' WHERE code > 4000")

        
    def __enter__(self):
        return self

    
    def __exit__(self, exc_type, exc_value, traceback):
        self.commit()
        self.close()
 

    def commit(self):
        self.conn.commit()

        
    def close(self):
        self.conn.close()
 

    def empty_coa(self, coa):
        """Check if this chart of management accounts hasn't been entered."""
        count=self.cursor.execute("SELECT COUNT(*) FROM chart_of_accounts WHERE chart='{}'".format(coa)).fetchone()[0]
        return count==0

    
    def empty(self, period):
        """Check if not data for period is in database"""
        count=self.cursor.execute("SELECT COUNT(*) FROM trial_balance WHERE period='{}'".format(period)).fetchone()[0]
        return count==0

    
    def load_mtd_to_database(self, period):
        if self.empty(period):
            s = self.df['PLTD-{}'.format(period)]
            l = s.index.tolist()
            for i,v in enumerate(s):
                code = str(l[i])
                # print(l[i], type(l[i]), str(l[i]), v)
                # Insert a row of data
                if v == '-' or math.isnan(v):
                    v = p(0)
                else:
                    v = p(v)
                process_normally = not( (code=='5001' and (v == p(0))))
                if process_normally:                
                    if code == '4000':
                        v = -v
                    self.cursor.execute("INSERT INTO trial_balance VALUES ('{}', {}, {})".format(period, code, v))
        else:
            raise LoadDatabaseError('{} already is in MTD database'.format(period))

In [4]:
#LoadDatabase(':memory:')
cols = df.columns.values.tolist()
with LoadDatabase('historic_trial_balances.db', df) as ld:
    for c in cols:
        period = c[5:15]
        #print('{} {}'.format(c, period))
        ld.load_mtd_to_database(period)

# Balance sheet data load
The balance sheet is a year to date balance sheet and the MTD balance sheet will have to be calculated.
I am creating data that is internally consistent.  
So for instance there may be rounding errors in the original data which will be folded into the stock account.
In addition the Profit and Loss for the current year will come from the profit and loss in the trial balance.

In [5]:
df_bs = pd.read_excel(xl, 'BS', skiprows=4, parse_cols='C:Y', index_col=0).iloc[:-3]
df_bs.index.names = ['Code']
df_bs.tail()

,BS-OCT-13,BS-SEP-14,BS-AUG-14,BS-JUL-14,BS-JUN-14,BS-MAY-14,BS-NOV-13,BS-JAN-14,BS-DEC-13,BS-FEB-14,...,BS-APR-14,BS-SEP-13,BS-OCT-14,BS-NOV-14,BS-DEC-14,BS-JAN-15,BS-FEB-15,BS-MAR-15,BS-APR-15,BS-DEC-15
Code,,,,,,,,,,,,,,,,,,,,,
2109,-1373.44,-3258.03,-13057.90,-26822.14,-33698.15,-32869.92,10351.42,3244.32,4398.54,-1841.93,...,-35826.59,-15205.82,4113,14808,10634,-15151.58,-9228.86,-65470.24,-64349.09,-26316.38
2110,0.00,0,0.00,NaN,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0,0,0,0.00,0.00,0.00,0.00,0.00
2120,100.00,100,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,...,100.00,100.00,100,100,100,100.00,100.00,100.00,100.00,100.00
2125,455617.38,536335,536335.71,536335.71,536334.71,536334.71,455617.38,455617.38,455617.38,536335.71,...,536334.71,455617.38,509970,509970,509970,509969.50,558690.80,558690.80,558690.80,558690.80
2126,-41329.27,-41361,-53872.78,-45429.17,-42827.27,-48153.30,-27045.13,83218.33,-29967.26,-8209.30,...,-34625.29,-40822.17,-37780,-34027,-31057,48096.91,12329.19,-2689.15,-17327.66,-20407.85

## Test load Balance Sheet data
See comments above for MTD

In [6]:
class BSLoadDatabase():
    
    def __init__(self, dbname, df):
        self.conn = sqlite3.connect(dbname)
        self.cursor = self.conn.cursor()
        self.add_management_chart_of_accounts()
        self.cursor.execute('CREATE TABLE IF NOT EXISTS trial_balance (period text, code integer, balance real)')
        self.df=df
        
    def add_management_chart_of_accounts(self):
        """Assets - Liabilities - OwnersEquity = 0
        Asset - Liability - Equity - Income + Expense = 0
        """
        # Table is created by MTD
        coa_name = 'SLF-MA'
        if self.empty_coa(coa_name):
            coa= {'10': 'Fixed Assets',
            '1001': 'Stock',
            '1100': 'Debtors Control Account',
            '1102': 'I. N. Rankin Sales Ltd',
            '1103': 'Directors Loan A/C',
            '1115': 'The Bedding Specialist',
            '1200': 'Bank Current Account',
            '1202': 'Bank Current USD',
            '1203': 'Bank Euro A/c',
            '1204': 'Petty Cash',
            '2100': 'Creditors Control Account',
            '2103': 'I. N. Rankin Oil Ltd',
            '2104': 'Gavin Rankin/ D W Trustees',
            '2105': 'Notional Tax on Directors Loan',
            '2106': 'Corporation Tax',
            '2107': 'PAYE & NI',
            '2108': 'VAT',
            '2109': 'Accruals & Prepayments',
            '2110': 'Accumulated Depreciation Provision',
            '2120': 'Share Capital',
            '2125': 'Profit & Loss Prior Years',
            '2126': 'Profit & Loss Current Year'}
            for k,v in coa.items():
                self.cursor.execute("INSERT INTO chart_of_accounts (chart, code, name) VALUES ('{}', {}, '{}')".
                                    format(coa_name, k, v))
            self.cursor.execute("UPDATE chart_of_accounts SET category='Asset' WHERE code < 2000 or code in (2104, 2105)")
            self.cursor.execute("UPDATE chart_of_accounts SET category='Liability' "+
                                "WHERE code in (2100, 2106, 2107, 2108, 2109, 2110, 2103 )")
            self.cursor.execute("UPDATE chart_of_accounts SET category='Equity' WHERE code in (2120, 2125, 2126)")

        
    def __enter__(self):
        return self

    
    def __exit__(self, exc_type, exc_value, traceback):
        self.commit()
        self.close()
 

    def commit(self):
        self.conn.commit()

        
    def close(self):
        self.conn.close()
 

    def empty_coa(self, coa):
        """Check if this chart of management accounts hasn't been entered."""
        count=self.cursor.execute("SELECT COUNT(*) FROM chart_of_accounts WHERE chart='{}' and code < 4000".
                                  format(coa)).fetchone()[0]
        return count==0

    
    def empty(self, period):
        """Check if no data for Balance sheet period is in database"""
        count=self.cursor.execute("SELECT COUNT(*) FROM trial_balance WHERE period='{}' and code < 4000".
                                  format(period)).fetchone()[0]
        return count==0


    def get_coa(self, coa):
        sql = "SELECT code as Code, name as NC_Name, category as Category  FROM chart_of_accounts WHERE chart = '{}'".format(coa)
        return  pd.read_sql(sql, self.conn, index_col='Code')

    
    def load_bs_to_database(self, period):
        if self.empty(period):
            coa=self.get_coa('SLF-MA')
            s = self.df['BS-{}'.format(period)]
            l = s.index.tolist()
            #print(l)
            for i,v in enumerate(s):
                code = str(int(l[i]))
                # print(l[i], type(l[i]), str(l[i]), v)
                # Insert a row of data
                if v == '-' or math.isnan(v):
                    v = p(0)
                else:
                    v = p(v)
                process_normally = not( ((code=='5001') and (v == p(0)))  # leave out end of year adjustements unless needed
                                      or (code == '2126'))  # Leave out YTD carried forwad P&L which is done from the trial balance
                if process_normally:
                    category = coa.ix[int(code)].Category
                    negative = category in ('Liability', 'Equity')
                    if negative:
                        v = -v
                    self.cursor.execute("INSERT INTO trial_balance VALUES ('YTD-{}', {}, {})".format(period, code, v))
        else:
            raise LoadDatabaseError('{} already is in MTD database'.format(period))

In [7]:
cols_bs = df_bs.columns.values.tolist()
with BSLoadDatabase('historic_trial_balances.db', df_bs) as ld:
    for c in cols_bs:
        period = c[3:9]
        #print('{} {}'.format(c, period))
        ld.load_bs_to_database(period)

# Test extract
Get data from database and see if can generate report. (Will need to convert old report notebook to module)

In [8]:
con = sqlite3.connect("historic_trial_balances.db")
p = 'MTD-OCT-13'
sql = "SELECT code as Code, balance as TB FROM trial_balance WHERE period = '{}'".format(p)
df1 = pd.read_sql(sql, con, index_col='Code')
con.close()
df1.head()

             TB
Code
4000 -144825.44
4009    2748.55
4905    3158.55
5000   93079.08
6100     831.79

## Get names of Nominal codes
First iteration just use number

In [9]:
con = sqlite3.connect("historic_trial_balances.db")
coa = 'SLF-MA'
sql = "SELECT code as Code, name as NC_Name FROM chart_of_accounts WHERE chart = '{}'".format(coa)
df2 = pd.read_sql(sql, con, index_col='Code')
con.close()
df2.head()

                     NC_Name
Code
8435            Admin Travel
8414     Repairs/Maint/Bldgs
8410      Admin Rent & Rates
7906  Exchange Rate Variance
7206        Factory Salaries

# Playground

In [ ]:
df_bs.iloc[:-3].tail()