# Freeagent to Ledger
This converts an excel dump file from Freeagent into Ledger entries.
This is done by importing into Pandas and then writing out the entries.

In [1]:
import pandas as pd

from h3_yearend import p

fn = 'company-export-2016-04-07-05-55.xls'
xl = pd.ExcelFile(fn)
print(xl.sheet_names)

WARNING *** file size (460289) not 512 + multiple of sector size (512)
['Bank Accounts', 'Bank Account Entries', 'Bank Account Transactions', 'Payslips', 'Contacts', 'Projects', 'Invoices', 'Estimates', 'Bills', 'Expenses', 'Tasks', 'Timeslips', 'VAT Returns', 'Recurring Invoices']

In [2]:
df = xl.parse('Bank Account Entries')

In [3]:
df.head()

,Bank Account Name,Description,Date,Type,Gross Value,Receipt Reference,Cheque Number,Sales Tax Rate
0,Drummonds.net at Barclays,Dividend paid to Humphrey Drummond,2009-04-01,Dividend,-8000.00,NaN,NaN,0
1,Drummonds.net at Barclays,Dividend paid to Humphrey Drummond,2009-05-19,Dividend,-450.00,NaN,NaN,0
2,Drummonds.net at Barclays,203590 00278289 New Server Ft,2009-05-19,Web Hosting,-745.20,NaN,NaN,15
3,Drummonds.net at Barclays,Dividend paid to Humphrey Drummond,2009-05-19,Dividend,-4000.00,NaN,NaN,0
4,Drummonds.net at Barclays,203590 00278289 Hard Disks Serve,2009-05-19,Office Costs,-550.97,NaN,NaN,15

In [9]:
transaction_types = list(set(df['Type'].values))

In [11]:
print('Number of transaction types = {}'.format(len(transaction_types)))
transaction_types[0:4]

Number of transaction types = 43

['Other Sales Income',
 'Net Salary and Bonuses',
 'Payment from Director Loan Account',
 'Payment to Director Loan Account']

## Parse the dataframe by row

In [13]:
import sys

print('Hello', file=sys.stdout)

Hello

In [14]:
class LedgerDefaults:
    
    def __init__(self, comment):
        self.comment=comment
    
    def to_print(self, file=sys.stdout):
        print('; {}'.format(self.comment))
        print('D £1,000,000   ; Default currency is sterling')
        

class LedgerEntry:
    
    def __init__(self, date, description, transactions_list={}, commment=''):
        self.date= date
        self.description = description
        self.transactions_list = transactions_list
        self.comment=comment
    
    def to_print(self, file):
        print('; {}'.format(self.comment))
        print('')

In [24]:
def print_header():
    print('; Export from Freeagent')
    print('D £1,000,000   ; Default currency is sterling')



def bank_entry_to_ledger(idx, row):
    # print("{} {} |{}|".format(idx, row['Date'], row['Type']))
    if row['Type'] == 'Dividend':
        le.comment = 'Dividend (from Freeagent)'
        le.transaction= = {'Assets:Bank':row['Gross Value'], 'Equity:RetainedProfits':-p(row['Gross Value'])))
    else:
        pass
        

print_header()
count = 0
for idx, row in df.iterrows():
    count +=1
    if count < 5:
        bank_entry_to_ledger(idx, row)

; Export from Freeagent
D £1,000,000   ; Default currency is sterling
; Dividend (from Freeagent)

2009-04-01 00:00:00 Dividend paid to Humphrey Drummond
    Assets:Bank  -8000.00
    Equity:RetainedProfits  8000.00
; Dividend (from Freeagent)

2009-05-19 00:00:00 Dividend paid to Humphrey Drummond
    Assets:Bank  -450.00
    Equity:RetainedProfits  450.00
; Dividend (from Freeagent)

2009-05-19 00:00:00 Dividend paid to Humphrey Drummond
    Assets:Bank  -4000.00
    Equity:RetainedProfits  4000.00

In [15]:
def bank_entry_to_ledger(idx, row):
    le = LedgerEntry(row['Date'], row[]'Description'])
    # print("{} {} |{}|".format(idx, row['Date'], row['Type']))
    if row['Type'] == 'Dividend':
        le = LedgerEntry(row['Date'], row[]'Description'])
        ,
                        {'Assets:Bank':row['Gross Value']])
        
        print('; Dividend (from Freeagent)')
        print('')
        print('{} {}'.format(row['Date'], row['Description']))
        print('    Assets:Bank  {}'.format(p(row['Gross Value'])))
        print('    Equity:RetainedProfits  {}'.format(-p(row['Gross Value'])))
    else:
        pass

def create_ledger(f, df):
    ld = LedgerDefaults('Export from Freeagent')
    ld.to_print(f)
    count = 0
    for idx, row in df.iterrows():
        count +=1
        if count < 5:
            bank_entry_to_ledger(idx, row)

create_ledger(sys.stdout, df)

; Export from Freeagent
D £1,000,000   ; Default currency is sterling
; Dividend (from Freeagent)

2009-04-01 00:00:00 Dividend paid to Humphrey Drummond
    Assets:Bank  -8000.00
    Equity:RetainedProfits  8000.00
; Dividend (from Freeagent)

2009-05-19 00:00:00 Dividend paid to Humphrey Drummond
    Assets:Bank  -450.00
    Equity:RetainedProfits  450.00
; Dividend (from Freeagent)

2009-05-19 00:00:00 Dividend paid to Humphrey Drummond
    Assets:Bank  -4000.00
    Equity:RetainedProfits  4000.00

# Write out a ledger entry