# Pickle Sage Data
Extract all the data and then pickle it so that it can be used on another system easily.
Then test the pickled data to generated transaction trial balances.

In [1]:
import datetime as dt

from h3_yearend import p
from report import SageData

sage_2015 = SageData(2015)
df = sage_2015.df
print(len(df))
df.head(2)

56792

,TRAN_NUMBER,TYPE,DATE,ACCOUNT_REF,ALT_REF,INV_REF,DETAILS,TAX_CODE,AMOUNT,FOREIGN_AMOUNT,BANK_FLAG,DATE_BANK_RECONCILED
0,1,SI,2015-02-03,1100,X458,55774,SGL S/F COTTON TOPPER,T1,64.44,64.44,-,NaN
1,2,SI,2015-02-03,1100,X458,55774,KNG S/F COTTON TOPPER,T1,80.10,80.10,-,NaN

In [2]:
import pickle
pickle.dump(sage_2015, open('sage2015.pickle', 'wb'))

# Get transaction trial balance

In [8]:
tb = sage_2015.transactional_trial_balance(dt.date(2015, 1, 1), dt.date(2016, 1, 31))
tb.head()

ACCOUNT_REF
30         687.54
1001    -74899.48
1100    124204.64
1104         0.00
1115      1479.20
dtype: object

In [7]:
assert tb.sum() == p(0)